<div class="dashboardTopMenu">
    <ul class="dashboardTopMenu-linklist">
        @foreach (var menuItem in TopMenuList)
        {
            <li class="dashboardTopMenu-link lobster" >
                @menuItem
            </li>
        }
    </ul>
</div>