<div class="dashboardTopMenu">
    <ul class="dashboardTopMenu-linklist">
        @foreach (var menuItem in TopMenuList)
        {
            <li class="dashboardTopMenu-link lobster" @onclick="()=> MenuSelection(menuItem)">
                @menuItem
            </li>
        }
    </ul>
</div>
<div class="dashboard-page">
    <div class="row">
        <div class="col-12">
            @{
                switch (Selection)
                {
                    case "Today's Reservations":
                        <Reservations/>
                        break;
                    case "Search for Reservation":
                        <ReservationSearch/>
                        break;
                }
            }
        </div>
    </div>
</div>