<div class="row">
    @foreach (var table in TablesList)
        {
            <div class="col-4">
                <EditTable Table="@table" DeletedTableId="TableDeletedCallback" />
            </div>
        }
</div>