@page "/RegistrationSuccess/"
<div class="container">
    <div class="row">
        <div class="col-12 page-title">
            <h2 class="lobster">Welcome to Bon Appetit!</h2>
            <br />
            <h4 class="lobster link">Please go to log in, to start enjoying the benefits of being a new user</h4>
            <br />
            <NavLink class="bg-transparent lobster text-black-50 link" href="">Bon Appetit!</NavLink>
        </div>
    </div>
</div>