<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BonAppetitApp</title>

    <!--app css-->
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <!--Bootstrap v5.1-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--Fonts-->
    <link href="/css/fontfaces.css" rel="stylesheet" type="text/css"/>
    <!--navbar-->
    <link href="css/navbar.css" />


</head>
<body>
    <header>
        <partial name="_NavMenu"/>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bon Appetit App -
        </div>
    </footer>


    <!-- site js -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Jquery v3.6 -->
    <script src="lib/jquery/jquery.min.js"></script>
    <!--Bootstrap v5.1-->
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
