@inherits LayoutComponentBase

<NavMenu />
<main>
    <AuthorizeView>
        <Authorized>
            <button @onclick="Logout">Logout</button>
            <div class="page">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <NavLink href="https://localhost:44352/Account/Login" target="_blank">Login!</NavLink>
            </NotAuthorized>
    </AuthorizeView>
</main>