@inherits LayoutComponentBase


<NavMenu />
<main>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                @Body
            </div>
        </Authorized>
    </AuthorizeView>
</main>