@inherits LayoutComponentBase

<NavMenu />
<main>
    <AuthorizeView>
        <Authorized>
            <button @onclick="Logout">Logout</button>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/Authentication/login">Login!</NavLink> 
        </NotAuthorized>
    </AuthorizeView>
    <div class="page">
        @Body
    </div>
</main>