<div class="dashboardMenu">
    <ul class="dashboardMenu-linklist">
        <li class="dashboardMenu-link nav-item lobster"@onclick="() =>  DashboardMenuSelectEvent(1)">
            Analytics
        </li>
        <li class="dashboardMenu-link nav-item lobster" @onclick="() =>  DashboardMenuSelectEvent(2)">
            Restaurant
        </li>
        <li class="dashboardMenu-link nav-item lobster"@onclick="() =>  DashboardMenuSelectEvent(3)">
            Tables
        </li>
        <li class="dashboardMenu-link nav-item lobster" @onclick="() =>  DashboardMenuSelectEvent(4)">
            Reservations
        </li>
        <li class="dashboardMenu-link nav-item lobster" @onclick="() =>  DashboardMenuSelectEvent(5)">
            Menus
        </li>
        <li class="dashboardMenu-link nav-item lobster" @onclick="() =>  DashboardMenuSelectEvent(6)">
            Coupons
        </li>
    </ul>
</div>