@page "/Login"

<div class="container">

    <div class="row">
        <div class="col-12 page-title">
            <h4>Login</h4>
        </div>
    </div>

    <div class="col-12 login-restaurant-form">
        <form>
            <div class="row">
                <div class="col-12">
                    <label class="form-label login-label">Password</label>
                </div>
                <div class="col-12">
                    <input class="login-form-input" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="form-label login-label">Password</label>
                </div>
                <div class="col-12">
                    <input type="password" class="login-form-input" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="login-button">Login!</button>
                </div>
            </div>
        </form>
    </div>
</div>