@page "/Register"

<div class="container register-page">
    <div class="row">
        <div class="col-12 page-title">
            <h4 class="titillium">
                Register restaurant
            </h4>
        </div>
        <div class="register-restaurant-form col-12">
            <EditForm Model="RestaurantCreateVm" OnValidSubmit="RegisterFormSumbit">
                @*name*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Restaurant name</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantName" class="register-form-input"/>
                    </div>
                </div>
                @*phone*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Phone</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantPhone" type="text" class="register-form-input"/>
                    </div>
                </div>
                @*address*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Address</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantAddress" class="register-form-input"/>
                    </div>
                </div>
                @*website*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Website</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantWebsite" class="register-form-input"/>
                    </div>
                </div>
                @*city*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">City</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantCiy" class="register-form-input"/>
                    </div>
                </div>
                @*cuisine*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Cuisine Type</label>
                    </div>
                    <div class="col-12">
                        <InputText @bind-Value="RestaurantCreateVm.RestaurantCuisineType" class="register-form-input"/>
                    </div>
                </div>
                @*username*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Username</label>
                    </div>
                    <div class="col-12">
                        <input class="register-form-input"/>
                    </div>
                </div>
                @*password*@
                <div class="row">
                    <div class="col-12">
                        <label class="form-label register-label">Password</label>
                    </div>
                    <div class="col-12">
                        <input class="register-form-input"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="register-button">Register!</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
